.header {
  background-color: var(--bg-color-bright);
  padding: 0 40px;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0;
      }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr 207px;
  gap: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .header__container {
    padding-top: 26px;
    padding-bottom: 19px;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #FFFFFF29;

  }
}
.nav__links {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
}

.header__btn {
  width: 207px;
  height: 48px;
  justify-self: end;
  border-radius: 34px;
}

@media screen and (max-width: 900px) {
  .header__btn {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
