.feedback__title {
  margin-bottom: 40px;
}

.feedback-slider {
  display: flex;
}

@media screen and (max-width: 900px) {
  .feedback-slider {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column-reverse;
    /* background-color: var(--bg-color-bright); */
  }
}

.feedback-slider__left {
  background: var(--bg-color-bright);
  border-radius: 8px 0 0 8px;
  max-width: 574px;
  flex-grow: 1;
  position: relative;
  flex-shrink: 1;
  box-shadow: 0px 0px 32px 0px #4e5d7c29;
}

@media screen and (max-width: 900px) {
  .feedback-slider__left {
    width: 328px;
    border-radius: 0 0 8px 8px;
  }
}

.feedback__text {
  color: var(--text-color-light);
  width: 450px;
  width: 100%;
  padding: 120px 30px 113px 104px;
}
@media screen and (max-width: 900px) {
  .feedback__text {
    padding: 48px 24px;
  }
}

.feedback__quote {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  .feedback__quote {
    font-size: 24px;
    line-height: 33.6px;
  }
}

.feedback__author {
  font-size: 17px;
  font-weight: 700;
  line-height: 23.8px;
}

.feedback__author span {
  display: block;
  font-weight: 500;
}
.feedback-slider__right {
  flex-grow: 1;
  background-image: url(../assets/img/feedback_foto.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 8px 8px 0;
  position: relative;
  flex-basis: 328px;
  flex-shrink: 1;
}
@media screen and (max-width: 900px) {
  .feedback-slider__right {
    border-radius: 8px 8px 0 0;
    background-color: var(--bg-color-bright);
    background-image: none;
    flex-basis: 248px;
  }
}
.feedback-slider__img {
  display: none;
  border-radius: 0 8px 8px 0;
  max-width: 574px;
}

@media screen and (max-width: 900px) {
  .feedback-slider__img {
    display: block;
    height: 249px;
    width: 328px;
    border-radius: 8px;
  }
}
.slider-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 32px 0px #4e5d7c52;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color-light);
  opacity: 60%;
  position: absolute;
  top: calc(50% - 20px);
}
.slider-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .slider-btn {
    display: none;
  }
}
.slider-btn_left {
  background-image: url(../assets/svg/btn_left.svg);
  left: 24px;
}

.slider-btn_right {
  background-image: url(../assets/svg/btn_right.svg);
  right: 24px;
}

.pagination {
    display: none;
}

@media screen and (max-width: 900px) {
    .pagination {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 48px;

    }
    .pagination-button {
        width: 8px;
        height: 8px;
        background: #FFFFFF80;
        border-radius: 50%;
        border: none;
      }
      .pagination-button_active {
        background: var(--bg-color-light);
      }

}

