.footer {
    background-color: var(--bg-color-dark);
    padding: 80px 40px 32px;
}

.footer__line {
    margin-top: 40px;
    margin-bottom: 32px;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF14;

}

.footer__container {
    
}
.footer__column {
    justify-self: end;
}
.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
   
}

.logo-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 283px;
}

.logo {
font-size: 36px;
font-weight: 900;
line-height: 50.4px;
color: var(--bg-color-light);
text-transform: uppercase;

}

.logo__description, .footer__author {
    color: #FFFFFFB2;
    

}
.links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.link {
    text-decoration: none;
    color: #FFFFFF80;
}

.footer__author span {
    color: #FFFFFF80;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    color: #FFFFFFB2;

}
.payments {
    display: flex;
    gap: 24px;
    align-items: center;
}

.payments__item {
    background-repeat: no-repeat;
}
.viza {
    background-image: url(../assets/svg/viza.svg);
    width: 80px;
    height: 27px;
}
.mir {
    background-image: url(../assets/svg/mir.svg);
    width: 78px;
    height: 23px;

}

.mcard {
    background-image: url(../assets/svg/mcard.svg);
    width: 48px;
    height: 37px;
}