* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

header {
    max-width: 1080px;
    margin: 0 auto;
}
.logo {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  margin-right: 77px;
}

.logo span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #4b5563;
  box-shadow: 0px 15px 30px 0px #00000026;
  text-align: center;
  margin-right: 11px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

nav .link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

ul {
    list-style-type: none;
}

main {
  width: 896px;
  margin: 0 auto;
}

form {
  position: relative;
}

form img {
  position: absolute;
  left: 18px;
  top: 13px;
}

.search {
  border-radius: 100px;
  background: rgba(31, 41, 55, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  border: none;
  width: 224px;
  height: 40px;
  margin-bottom: 69px;
  padding-left: 49px;
}

.heading {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  max-width: 525px;
  margin: 0 auto 30px;
}

.profile {
  margin-bottom: 28px;
  text-align: center;
}
.profile__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.opacity {
  color: rgba(255, 255, 255, 0.6);
}
.profile__about {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

article img {
  margin-bottom: 69px;
}

section {
  max-width: 708px;
  margin: 0 auto;
}
.text {
  font-weight: 400;
  margin-bottom: 40px;
}
.text_l {
  font-size: 20px;
  line-height: 32px;
}

.text_m {
  font-size: 16px;
  line-height: 30px;
}

.rights {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 75px 0 77px;
}
